@import "./base.css";

#app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #fbfafc;
}

.noscroll {
  overflow: hidden;
}

p {
  color: #667085;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
}
